<p style="color: green"><%= notice %></p>

<h1>Menu items</h1>

  <div id="menu_items">
    <table class="table" border=1>
      <thead class="table-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @menu_items.each do |menu_item| %>
        <tr>
          <td><%=  menu_item.name %></td>
          <td><%=  menu_item.price %></td>
          <td><%=  menu_item.description %></td>
          <td><%=  menu_item.category.category_name %></td>
          <td><%= link_to "Show this item", menu_item %></td>
        </tr>
           <% end %>
      </tbody>
    </table>
  </div>
 
</div>

<%= link_to "New menu item", new_menu_item_path %>
<%= link_to "List of categories", categories_path %>
<%= link_to "List of order", orders_path %>
<%= link_to "Report", reports_path %>
